<!-- HTML, CSS ET JS par Pierre LUYPAERT-->
<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Pierre LUYPAERT">
        <title>PixelWAR</title>
        <script src="/assets/vendor/jquery-3.6.0.js"></script>
        <script src="/assets/vendor/jquery-ui.js"></script>
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link rel="stylesheet" href="/assets/css/loader.css">
        <script type="text/javascript" src="/assets/js/vue.js"></script>
        <link rel="stylesheet" href="/assets/js/cute-alert-master/style.css"/>
        <script src="/assets/js/cute-alert-master/cute-alert.js"></script>
    </head>
    <body>
        <% if (error) { %>
            <script>
            cuteAlert({
                type: "error",
                title: "Oops...",
                message:'<%=error %>',
                buttonText: "Ok",
                img:"error.svg",
            });
            console.log("erreur");
            console.log('<%-canva_infos%>');
            </script>
        <% } %>
        
        <% if (canva_infos) { %>
            <script>
                var parsed_data = <%- JSON.stringify(canva_infos) %>;
                var minePseudo = '<%- login %>';
                var isNew = !(<%- JSON.stringify(type.edit) %>);
            </script>
       <% } else { %>
        <script>
            console.log("non");
        </script>
        <% } %>
        <div class="body-container" id="app">
            <form action="<%= type.action %>" onsubmit="return generate()" method="post" role="form" class="flex-1">
                <input name="id" type="hidden" v-model="id">
                <input name="users" type="hidden" v-model="allusers">
                <div class="column-section center top gap-20 scrollable">
                    <div class="flex-3">
                        <div class="bg-color h-95 border-rad-20">
                            <h1 class="titre-form" style="margin-bottom: 30px;">CREATION D'UN CANVA</h1>
                            <div class="column-section bg-main" style="max-height:80%; overflow: auto;">
                                    <div class="row-section">
                                        <h1 class="soustitre-form flex-1">NOM DU CANVA</h1>
                                        <input name="name" type="text" id="name" class="input-text flex-2" placeholder="Krusty Krab's Palace" v-model="name">
                                    </div>
                                    <div class="row-section">
                                        <h1 class="soustitre-form flex-1">LARGEUR</h1>
                                        <input name="height" type="number" id="height" min="10" max="5000" class="input-text flex-2" placeholder="2000" v-model="height">
                                    </div>
                                    <div class="row-section">
                                        <h1 class="soustitre-form flex-1">LONGUEUR</h1>
                                        <input name="width" type="number" id="width" min="10" max="5000" class="input-text flex-2" placeholder="2000" v-model="width" >
                                    </div>
                                    <label class="flex-1" id="generate-answer"></label>   
                            </div>
                        </div>
                    </div>
                    <div class="flex-2" >
                        <div class="bg-color h-95 border-rad-20">
                            <h1 class="titre-form" style="margin-bottom: 30px;">MEMBRES</h1>
                            <div class="column-section bg-main" style="margin:10px; max-height:80%; overflow: auto;">
                                    <div class="row-section">
                                        <h1 class="soustitre-form flex-2">PSEUDO</h1>
                                        <input name="pseudo" type="text" id="pseudo" class="input-text flex-3" placeholder="JBlaTerreur">
                                        <button type="button" v-on:click="addMember()" class="btn valid flex-1" style="min-width:20px !important;">+</button>
                                    </div>
                                    <label class="flex-1" id="generate-answer"></label>   
                                    
                                    
                                    <div class="w-100 mg-10" style="overflow:hidden; max-height:80%; border-radius:10px"  >
                                        <div class="top-rounded-box color-sc bottom-border">
                                            <div class="title-form text-white">Pseudo</div>
                                        </div>
                                        <div class="scrollable list-games border-bottom" style="max-height: 200px; overflow: auto">
                                            <div class="mid-box">
                                                <div class="canva-row blue"><%= login %> (moi)</div>
                                                <div v-for="(item, index) in users" v-if="item.idUser != minePseudo" v-on:click="deleteMember(item.idUser, index)" class="canva-row redhover">{{ item.idUser }}</div>
                                            </div>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>
                <%- include('menu.ejs', {logged: logged}) %>
                <div class="footer bg-main">
                    <button type="submit" class="btn valid"><span v-if="newForm">CREER</span><span v-else>SAUVEGARDER</span><div class="icon unlocked"></div></button>
                    <!--<button type="button" v-on:click="retour()" class="btn error">RETOUR<div class="icon join"></div></button>-->
                </div>
            </form>
        </div>
        <script>
            function generate() {
                app.allusers="[";
                app.users.forEach(user => {
                    app.allusers+='{"idUser":"' + user.idUser + '"},';
                });
                app.allusers = app.allusers.slice(0, -1);
                app.allusers+="]";
                console.log(app.allusers);
                let dataToPost = {
                    name: $('#name').val(),
                    height: $('#height').val(),
                    width: $('#width').val(),
                    allusers: app.allusers,
                    id: app.id
                };            
                if ( dataToPost.name==""|| dataToPost.height=="" || dataToPost.width == "" || (dataToPost.height > 5000 || dataToPost.height < 10 || dataToPost.width > 5000 || dataToPost.width < 10))
                {
                    $('#generate-answer').html("Le formulaire n'est pas valide.");
                    return false
                }
                else 
                {
                    console.log("true");
                    return true;
                }
            }


            const app = new Vue({
                el:"#app",
                data: {
                    isLoading: false,
                    users: [],
                    name:"",
                    height:"",
                    width:"",
                    minePseudo:"",
                    newForm: true,
                    id:"",
                    allusers:"[{",
                },
                methods: {
                    retour: function() {
                        window.location.href += "../";
                    },
                    addMember:function() {
                        if($("#pseudo").val()!="")
                        {
                            this.users.push({"idUser":$("#pseudo").val()});
                            cuteToast({
                                type: "success", // or 'info', 'error', 'warning'
                                title:$("#pseudo").val(),
                                message: "Membre ajouté",
                                timer: 5000,
                                img:"success.svg"
                            })
                        }
                    },
                    deleteMember: function(memberName, index) {
                        cuteAlert({
                            type: "question",
                            title: "Supprimer " + memberName,
                            message: "Etes-vous sûr(e) ?",
                            confirmText: "Oui",
                            cancelText: "Annuler",
                            img:"question.svg"
                        }).then((e)=>{
                            if (e=="confirm") {
                                this.users.splice(index, 1);
                                cuteToast({
                                    type: "error", // or 'info', 'error', 'warning'
                                    title:memberName,
                                    message: "Membre supprimé",
                                    timer: 5000,
                                    img:"success.svg"
                                })
                            }
                        })
                    }
                    
                },
                mounted() {
                    if(typeof parsed_data !== 'undefined') 
                    {
                        this.users = parsed_data.users;
                        this.width = parsed_data.width;
                        this.height = parsed_data.height;
                        this.name = parsed_data.name;
                        this.id = parsed_data.id;
                        console.log(this.users);
                        console.log("JE SUIS LA");
                    }
                    if( minePseudo ) this.minePseudo = minePseudo;
                    this.newForm = isNew;
                }
            })
        </script>
    </body>
</html>