<!-- @author Alexis IMBERT -->
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PixelWAR</title>
    <script src="/assets/vendor/jquery-3.6.0.js"></script>
    <script src="/assets/vendor/jquery-ui.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script type="text/javascript" src="/assets/js/vue.js"></script>
    <link rel="stylesheet" href="/assets/css/loader.css">
</head>


<div class="body-container" id="app">
    <div class="center top bg-color" style="padding-bottom:40px;">
        <h1 class="titre-form">Statistiques</h1>
        <div class=" mg-10" style="overflow:hidden; max-height:80%; border-radius:10px;">
            <div class="top-rounded-box color-sc bottom-border">
                <div class="column-section ">
                    <div class="flex-2 title-form text-white">Pseudo : </div>
                    <div class="flex-2 title-form text-white">Couleur préféré : </div>
                    <div class="flex-2 title-form text-white">Nombre de pixel posés : </div>
                </div>
            </div>

            <div class="column-section canva-row mid-box">
                <div class="flex-2">
                    <%= login %>
                </div>
                <div class="flex-2">
                    <%= couleur_pref %>
                </div>
                <div class="flex-2">
                    <%= nb_pixel_pose %>
                </div>
            </div>

            <div style="margin-bottom:100px"></div>

            <div class="top-rounded-box color-sc bottom-border">
                <div class="column-section ">
                    <div class="flex-2 title-form text-white">Nombre de canvas inscrit : </div>
                    <div class="flex-2 title-form text-white">Canvas ou tu es le plus actif : </div>
                    <div class="flex-2 title-form text-white">Ratio Pixel/canvas :</div>
                </div>
            </div>
            <div class="column-section canva-row mid-box">
                <div class="flex-2">
                    <%= nb_canvas %>
                </div>
                <div class="flex-2">
                    <%= canvas_plus_actif %>
                </div>
                <div class="flex-2">
                    <%= nb_pixel_moyen %>
                </div>
            </div>
        </div>
    </div>
    <%- include('menu.ejs', {logged: logged}) %>
</div>

<div class="footer bg-main">
    <div class="footer-box">
        <a target="_blank"
            href="https://www.makeuseof.com/what-is-rplace-reddit-art-experiment/#:~:text=The%20concept%20behind%20r%2FPlace%20is%20pretty%20simple.,or%20tile%20of%20whichever%20color."><img
                class="imgbtn" id="rules" src="/assets/imgs/book.png"></a>
    </div>
</div>